.center-text{
    text-align: center;
}

.m-t-35{
    margin-top: 35px;
}
.m-t-15{
    margin-left: 15px;
}

.m-r-20{
    margin-right: 20px;
}

.m-l-20{
    margin-left: 20px;
}
.m-l-5{
    margin-left: 5px;
}

.buttons{
    text-align: right;
}

.invalid-data{
    color:red
}